#banner {
    position: relative;
    margin-bottom: 10%;
}

#banner>div {
    height: 700px;
}

.textodegrade {
    text-align: center;
}

.gary {
    position: absolute;
    right: 15%;
    top: 70%;
    opacity: 1;
}

.garyimg {
    border-radius: 100%;
    width: 200px;
}

@media (max-width: 500px) {
    #banner>div {
        height: 650px;
    }
    .bannerParagraph {
        padding: 5%;
    }
    .gary {
        right: 10%;
        top: 450px;
    }
    #banner {
        margin-bottom: 40%;
    }
}