
#rodape {
    background-color: var(--main-blue);
    color: var(--main-orange);
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    height: 10vh;
}
.lays {
    height: 100%;
    width: 100%;
    min-width: 290px;
}

html {
    scroll-padding-top: 15vh;
    overflow-x: hidden;
    width: 100vw;
    /* height of sticky header */
}

h1 {
    font-size: 2.5em;
}

.h2Padrao {
    font-size: 1.7em;
    font-weight: bold;
}

.paragraphPadrao {
    font-size: 1.4em;
}

#sobre {
    height: 25%;
}

#apoiadores {
    height: 25%;
}

#carreiras {
    height: 50%;
}

.destacado {
    color: var(--main-orange)!important;
    border-bottom: var(--main-orange) solid 2px;
    font-weight: bolder;
}