::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-padding-top: 15vh;
    overflow-x: hidden;
    width: 100vw;
    /* height of sticky header */
}

h1 {
    font-size: 2.5em;
}

.h2Padrao {
    font-size: 1.7em;
    font-weight: bold;
}

.paragraphPadrao {
    font-size: 1.4em;
}

#sobre {
    height: 25%;
}

#apoiadores {
    height: 25%;
}

#carreiras {
    height: 25%;
}

.destacado {
    color: var(--main-orange)!important;
    border-bottom: var(--main-orange) solid 2px;
    font-weight: bolder;
}

.defaultBtn {
    padding: 6px 32px;
    background-color: var(--main-orange);
    border-radius: 20px;
    border: none;
    color: white;
    transition: .5s;
    text-decoration: none;
}

.defaultBtn:hover {
    box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}