
#rodape {
    background-color: var(--main-blue);
    color: var(--main-orange);
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    height: 10vh;
}

#layscontainer{
    margin-top: 0;
}
#inicio{ 
    height: 100vh;
}
.defaultBtn {
    box-sizing: border-box;
    padding: .5rem 2rem;
    width:max-content;
    height: fit-content;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: var(--main-orange);
    border-radius: 20px;
    border: none;
    color: white;
    transition: .5s;
    text-decoration: none;
}

.defaultBtn:hover {
    color: white;
    box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}
.lays {
    height: 100%;
    width: 123%;
    min-width: 290px;
}

.card {
    font-size: clamp(1rem, 1.3vw, 1.5vw);
    height: 70%;
}
.card-subject{
    transition: all .3s ease;
}
.card-subject:hover{
    cursor: pointer;
    transform: scale(1.1);
}
html {
    scroll-padding-top: 15vh;
    overflow-x: hidden;
    width: 100vw;
}
.h2Padrao {
    font-size: var(--font-size-title);
    font-weight: bold;
}
.paragraphPadrao {
    font-weight: 300;
    font-size: var(--font-size-paragraph);
}
.text-nome{
    font-weight: 500;
    font-size: 1.8rem;
}
.text-title{
    font-weight: 200;
    font-size: 1.5rem;
}
#sobre {
    height: 25%;
}

#apoiadores {
    height: 25%;
}

#carreiras {
    height: 25%;
    margin-bottom: 100px;
}

.destacado {
    color: var(--main-orange)!important;
    border-bottom: var(--main-orange) solid 2px;
    font-weight: bolder;
}