@import url(./mobile.css);
@import url(./geral.css);

/* @import url(./reset.css); */

@import url(./apoiadores.css);
@import url(./header.css);
@import url(./faq.css);
@import url(./contato.css);
@import url(./depoimentos.css);
@import url(./banner.css);
@import url(./video.css);
@import url(./inicio.css);
:root {
    --main-orange: hsl(22, 81%, 58%);
    --main-blue: hsl(220, 55%, 31%);
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}