@media (max-width: 1024px) {
    .navbar-toggler {
        display: none;
    }
    #carreiras {
        margin-top: 20%;
    }
}

@media (max-width: 768px) {
    #inicio {
        margin-bottom: 1%;
    }
    .headerBtn {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 8px;
    }
    nav {
        width: 100%;
        background-color: rgba(35, 64, 122, 0.9);
    }
    #HeaderLogo {
        margin-top: 8px;
        margin-right: 0;
    }
    .lays {
        margin-left: auto;
        margin-right: auto;
    }
    .propagandas {
        margin-top: 2.5%;
    }
    #carreiras {
        margin-top: 30%;
    }
    .cardSection {
        margin-left: 12%;
    }
    form,
    h1,
    .paragraph,
    .faq {
        margin-left: 8%;
        margin-right: 8%;
        text-align: center;
    }
    .faq {
        min-width: 85%;
    }
    #FaqItem {
        margin-top: 12%;
    }
    #Card {
        min-width: 110%;
    }
}

@media (max-width: 500px) {
    #carreiras {
        margin-top: 55%;
    }
}