html {
    font-size: 50%;
}

@media screen and (max-width: 1025px) {
    header .container {
        margin: 0;
        gap: 5rem;
    }
    main {
        gap: 100px;
    }
    section.hero {
        height: auto;
    }
    /* section.hero .container {
        align-items: flex-start;
    } */
    section.hero img {
        width: 60%;
        height: 50%;
    }
    .gary {
        top: 70%;
    }
    #depoimentos ul {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
    #depoimentos .depoimento {
        width: 50%;
    }
    #depoimentos .depoimento p {
        height: fit-content;
    }
}

@media screen and (max-width: 959px) {
    .hero .container img {
        order: -1;
        width: 100%;
    }
    .container:not(.menu-container) {
        flex-direction: column;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 0;
        top: 80px;
        right: 0;
        background-color: var(--main-blue);
        z-index: 100;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        align-items: center;
        gap: 5rem;
    }
    header .container {
        justify-content: center;
    }
    .nav.active .menu {
        height: 89vh;
        visibility: visible;
        overflow-y: auto;
    }
    .menu a {
        font-size: 2.9rem;
        text-align: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: rgba(255, 255, 255, 0.05) solid 2px;
    }
    .btn-mobile {
        margin: auto;
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        color: var(--main-orange);
        display: block;
        width: 30px;
        border-top: 2px solid;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .nav.active #hamburger {
        border-top-color: transparent;
    }
    .nav.active #hamburger::after {
        transform: rotate(135deg);
        top: -7px;
    }
    .nav.active #hamburger::before {
        transform: rotate(-135deg);
    }
    section.hero h1 {
        padding: 0;
    }
    .apoiadores h1 {
        font-size: 7rem;
    }
    .apoiadores .carousel {
        width: 100%;
    }
    .apoiadores .text {
        width: 100%;
    }
    .contato .text-wrapper,
    .contato form {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .inner-container {
        gap: 8vw;
    }
    .sobre .container {
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    .contato .text-wrapper {
        margin-bottom: 5rem;
    }
    .supporters {
        width: 90%;
    }
}

@media screen and (max-width: 452px) {
    header .container {
        gap: 1rem;
        justify-content: space-around;
    }
    header .inner-container {
        gap: 2rem;
    }
    header img {
        width: 120px;
    }
    section.hero h1 {
        font-size: 5rem;
        line-height: 6rem;
    }
    .gary {
        right: 25%;
    }
    #depoimentos .container {
        width: 80%;
        margin: 0 auto;
    }
    #depoimentos .depoimento {
        width: 90%;
    }
    #faqs .container {
        margin: 0;
        width: 90%;
    }
    .menu {
        top: 68px;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 2rem;
    }
}

@media screen and (max-width: 375px) {
    .btn {
        font-size: 2rem;
    }
    .menu{
        top: 56px;
    }
    header img {
        width: 90px;
    }
    .apoiadores h1 {
        font-size: 5rem;
    }
    .apoiadores .container {
        gap: 5rem;
    }
    .banner h2 {
        font-size: 5rem;
    }
    .banner p {
        font-size: 2.5rem;
    }
    .gary {
        right: 75px;
    }
}