.defaultBtn {
    font-size: 14px;
    padding: .5rem .5rem;
}

#nav {
    gap: 5vw;
}

.lays {
    /* min-width: 200px; */
    width: 90%;
}

.card {
    height: auto;
    font-size: 1rem;
}

.gary {
    right: 5%;
}

.text-nome {
    font-weight: 500;
    font-size: 1.5rem;
}

.text-title {
    font-weight: 200;
    font-size: 1.0rem;
}

.row {
    justify-content: center;
}

#layscontainer {
    width: 100%;
    padding: 0;
}

.video {
    width: 95%;
}

#rodape {
    font-size: 1rem;
}

.videocontainer {
    padding: 0;
}

.videodescription {
    width: 80%;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videodescription a {
    justify-content: center;
}

.sec-1-text {
    margin-left: 0;
}

.paragraphPadrao {
    font-size: 1.5em;
    text-align: center;
}

.h2Padrao {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#contato p {
    font-size: 1rem;
}

.depoimento {
    padding: 1rem .5rem;
}

.mobile-container {
    padding: 0!important;
}

#progress-bar-container {
    height: 10px!important;
}

#video2 {
    margin-bottom: 100px;
}

#inicio {
    margin-bottom: 50px;
}

.cardSection {
    margin-left: 5%!important;
    margin-right: 5%!important;
    width: 90%;
}