.defaultBtn{
  font-size: 14px;
  padding: .5rem .5rem;
}
.logo img{
  min-width: 100px;
}
#nav {
  gap: 5vw;
}

.lays{ 
  min-width: 200px;
  width: 100vw;
}

.gary {
  right: 20%;
}

#header {
  position: fixed;
  z-index: 999;
}
#layscontainer{
  width: 100%;
  padding: 0;
  margin-top: 15vh;
}

#video{
  margin: 0;
  margin-left: 10px;
}
.banner-container .col-lg-12{
  padding: 0;
}
.video-container{
  padding: 0;
  width: 100%;
}

.videodescription{
  width: 80%;
}
.sec-1-text{
  margin: 0;
}
.paragraphPadrao {
  font-size: 1em;
}

.step-inner {
  display: none;
}