html {
    scroll-padding-top: 15vh;
    overflow-x: hidden;
    width: 100vw;
    /* height of sticky header */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    height: 80vh;
    margin-bottom: 5%;
}

.small-header {
    height: 9vh!important;
    padding: .7% 3.5% 0 3.5%!important;
}

#header {
    position: sticky;
    top: 0;
    height: 11vh;
    padding: 1% 4.5% 0 4.5%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    background: rgba(35, 64, 122, 0.9);
    z-index: 1;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
}

#inicioContainer {
    text-align: center;
    margin-left: 10%;
}

.headerBtn {
    background-color: rgba(235, 123, 60, 0.9);
    border-radius: 20px;
    color: white;
    transition: .5s;
}

#sobre {
    height: 25%;
}
#apoiadores {
    height: 25%;
}
.destacado {
    background-color: red!important;
    color: rgba(235, 123, 60, 0.9)!important;
    border-bottom: rgba(235, 123, 60, 0.9) solid 2px;
    font-weight: bolder;
}

.defaultBtn {
    background-color: rgba(235, 123, 60, 0.9);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    color: white;
    transition: .5s;
}

.defaultBtn:hover {
    box-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

#HeaderLogo {
    display: block;
    width: 9%;
    min-width: 125px;
    margin-right: 15%;
}

.navbar {
    font-size: 1.5em;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 2.5em;
}

.propagandas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

.logoimg {
    width: 15%;
    padding-left: 0.6em;
    padding-top: 0.7em;
}

.textodegrade {
    text-align: center;
}

.accordion-button,
.accordion-collapse {
    font-size: 1.2em;
}

.gary {
    z-index: 3;
    opacity: 1;
    padding-top: 3.5em;
}

.garyimg {
    border-radius: 100%;
    width: 200px;
}


/*
* FAQ
*/

.faqBackground,
.accordion-item,
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: rgb(3, 5, 87);
    z-index: 0;
}


/*
* DEPOIMENTOS
*/

.depoimentos {
    display: inline-block;
    /* width: 30%; */
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px black solid;
    border-radius: 10px;
}

.contato p {
    font-size: 20em;
}

.contato>h1 {
    font-size: 2.5em;
}

#plataformaLogo {
    width: 55%;
    padding-top: 15%;
    display: flex;
    margin-left: 25%
}

.icons {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

form {
    display: flex;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 95%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .lays {
        width: 100%;
        height: 100%;
        padding-left: 24%;
    }
    iframe {
        margin-left: 15%;
        width: 300px;
        height: 200px;
    }
    .cardSection {
        margin-left: 12%;
    }
    form,
    h1,
    .paragraph,
    .faq {
        margin-left: 8%;
        margin-right: 8%;
        text-align: center;
    }
    .faq {
        min-width: 85%;
    }
    #FaqItem {
        margin-top: 12%;
    }
    #Card {
        min-width: 110%;
    }
    /* .supportBtn {
        justify-content: center;
    } */
}