h1{
    font-size: 2.5em;
}
.container{
    margin-top: 5%;
}
.propagandas{
width: 100%;
height: 100%;
border-radius: 10px;
background-color: rgb(241, 241, 241);
text-align: center;
}

.logoimg{
width: 15%;
padding-left: 0.6em;
padding-top: 0.7em;

}
.alunosimg{
    width: 100vw;
    background: linear-gradient(90deg, rgba(35, 64, 122, 0.9) 0%, rgba(235, 123, 60, 0.9) 100%);

}