#video {
    height: 400px;
    width: 650px;
    padding-right: 15%;
}

@media (max-width: 990px) {
    #video {
        margin-left: -20%;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    #video {
        width: 450px;
        height: 350px;
    }
}

@media (max-width: 450px) {
    #video {
        width: 350px;
        height: 200px;
        margin-left: 0%;
    }
}

@media (max-width: 380px) {
    #video {
        width: 300px;
    }
}